* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
nav {
  position: relative;
  padding: 0.45rem;
  background-color: #4a154b;
}
.navbar {
  margin-left: 15%;
}
.searchBar {
  background: transparent;
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
}
.searchBar::placeholder {
  color: rgb(170, 170, 170);
}
.searchBar:focus {
  background-color: #858484;
}
.fa-vimeo-v {
  position: absolute;
  top: 20%;
  right: 2%;
  color: #cfd2cd;
}
i.far {
  color: #cfd2cd;
  margin: 0 2%;
}

@media screen and (min-width: 425px) {
  .searchBar {
    width: 60%;
  }
}

.container {
  display: flex;
}

.left-side {
  position: relative;
  background: #6e1f6f;
  height: 100vh;
  color: #ffffff;
  width: 100%;
  max-width: 250px;
}
.left-side .side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 3%;
  flex-wrap: wrap;
}
.left-side .side-header .online {
  background: #0a8d48;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.24rem;
  display: inline-block;
}
.fa-pen {
  background: white;
  padding: 0.4rem;
  margin: 0.3rem;
  color: black;
  border-radius: 50%;
}
.left-side ul li.links a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  display: block;
}
.left-side ul li.links {
  list-style-type: none;
  padding: 3%;
  border-bottom: 1px solid gray;
}
.left-side ul li.links i {
  margin: 0 3%;
}
.dropdown-link {
  margin: 0.5rem 0;
}
.logOut {
  position: absolute;
  bottom: 7%;
  left: 0;
  padding: 0.4rem;
  display: block;
  width: 100%;
  background-color: #4a154b;
  border: none;
  color: #ffffff;
}
.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.right-side .info {
  width: 80%;
  text-align: center;
}
.right-side .info p {
  margin: 0.5rem;
}
.create-channel {
  margin: 1rem 0;
  padding: 0.4rem;
  background: #0a8d48;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.right {
  position: relative;
  width: 100vw;
}
.upper-div {
  box-shadow: 0 2px 2px 1px gray;
  padding: 0.64rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-box {
  position: absolute;
  bottom: 20%;
  width: 100%;
  padding: 0 2rem;
}
.message-box input {
  border: 1px solid gray;
  width: 100%;
  padding: 0.64rem;
  border-radius: 4px;
}
.channel-input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid gray;
}
